
.app{
  font-family: sans-serif;
}

h1 {
  justify-content: center;
  font-family: 'Comfortaa';font-size: 32px;
}

h4 {
  font-family: 'Work Sans', sans-serif;
}


#grid-container { 
  /* color: blue */
}

#average_of_forest {
  /* background-color: green; */
}

#total_earned {
  /* background-color: pink; */
}


#staked_nft {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

#buttons {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#snft_image {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


#average_of_forest {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

#botal_earned {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  
}

#link-title {
  color: darkseagreen; 
  font-weight: bold;
  padding: 5px; 
}

#spa-icon {
  color: darkseagreen; 
  padding: 5px
}

#nav-bar-toolbar {
  background-color: white;
  font-family: 'Comfortaa';font-size: 20px;

}

#grid-item {
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);

}

#connect-button {
  margin: 10px;
  padding: 40px; 

}


html {
  background: linear-gradient(#c8e5c1, #9b5f8f);
}


.leader-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}


.leader-grid-item {    
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 10px
}


#leaderboard{
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border: 10px;
}

.grid-container {
  margin-top: 25px; 
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}


#get-started {
text-align: center;
}

.grid-item {    
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
