.app {
  font-family: sans-serif;
}

h1 {
  justify-content: center;
}

#grid-container {
  /* color: blue */
}

#average_of_forest {
  /* background-color: green; */
}

#total_earned {
  /* background-color: pink; */
}

#staked_nft {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

#buttons {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#nft_image {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#average_of_forest {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

#botal_earned {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
}

#grid-item {
  /* box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3); */
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#connect-button {
  margin: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

html {
  background: linear-gradient(#c8e5c1, #9b5f8f);
  background-repeat: inherit;
}

.leader-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.leader-grid-item {
  width: 20%;
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

#leaderboard {
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border: 10px;
}

.grid-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

#get-started {
  text-align: center;
}

.grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
