.app {
  font-family: sans-serif;
}

h1 {
  justify-content: center;
  font-family: "Comfortaa";
  font-size: 32px;
}

#home-container {
  color: white; 
  text-align: center;
}

h4 {
  font-family: "Work Sans", sans-serif;
}

#description {
  font-size: 18px; 
  color: #83BD75;
}

#sub-description {
  font-size: 14px;
  color:  #253322;
  font-family: "Comfortaa";
}

#my-nft {
  height: 300px;
}

#grid-container {
  /* color: blue */
}

/* 
  #E9EFC0
#B4E197
#83BD75

#fff3c2 */

#events {
  color: #83BD75
}

#average_of_forest {
  /* background-color: green; */
}

#total_earned {
  color: white;
  margin: 10px;
  backdrop-filter: blur(16px) saturate(80%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 40px;
}

#acreage{
  color: #83BD75;
  margin: 10px;
  backdrop-filter: blur(16px) saturate(280%);
  border-radius: 12px;
  border: 1px solid /rgba(209, 213, 219, 0.3);
  padding: 40px;
}

#staked_nft {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin: 10px;
  /* backdrop-filter: blur(16px) saturate(180%); */
  /* -webkit-backdrop-filter: blur(16px) saturate(180%); */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 40px;
}

#marathon {
  height: 300px; 
}

#upcoming {
  /* display: grid;
  grid-template-columns: auto auto; */
  padding: 10px;
  margin: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 40px;
}

#buttons {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#nft_image {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}



#average_of_forest {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin: 10px;
  backdrop-filter: blur(16px) saturate(80%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 40px;
}


#link-title {
  color: white;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  margin-right: 20px;
  font-size: 30px;
}

#spa-icon {
  color: white;
  padding: 5px;
  text-align: right;
}



#nav-bar-toolbar {
  background-color: #e9efc0;
  font-family: "Comfortaa";
  font-size: 20px;
  border-radius: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
}
#bottomnav {
  /* background-color: #83bd75; */
  background-color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
}

#grid-item {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#connect-button {
  margin: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 40px;
}
#disconnect-button {
  margin: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
}

html {
  background: linear-gradient(90deg, #8bae74 6%, #83bd75 25%, #5a824f 55%);
}

.leader-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.leader-grid-item {
  width: 20%;
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

#leaderboard {
  color: white; 
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border: 10px;
}

.grid-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

#get-started {
  color: white; 
  text-align: center;
}

#view-nft-button{
  background-color: white;
  width: 250px; 
}

.grid-item {
  padding: 10px;
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin: 5px;
}

.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
}
/* 
  #E9EFC0
#B4E197
#83BD75

#fff3c2 */

.progress {
  background-color: #83BD75;
  height: 80px;
  border-radius: 1rem;
}

#stake-button {
  background-color: lightgrey;
  color: lightslategray; 
  height: 80px;
  width: 350px;
  margin-right: 2%;
}

#time-staked-text {
  color: white
}

#claim-button{
  background-color: white; 
  color: #B4E197; 
  height: 40px;
  width: 350px; 
  margin-right: 2%;
  padding: 20px; 
}

#unstake-button {
  background-color: white;
  color: #83BD75;
  height: 80px;
  width: 350px;
}

#copy-icon-num {
  margin-right: -33px;
}

#copy-icon {
  height: 15px;
}

#homepage-text {
  text-align: center;
  padding: 10px;
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin: 5px;
  max-width: 800px;
  margin: auto;
  justify-content: center;
}

#title {
  font-size: 80px;
}