
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }

.grid-item {    
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.app{
  /* background-color: pink; */
}

h1 {
  justify-content: center;
}